.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px dotted #3498db;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b9e7e7;
}

.text {
    font-weight: 900;
    color: #333;
}
.links {
    font-weight: 100;
    border: 1px solid white;
    span {
        font-weight: 900;
    }

    .write-blog:hover {
        background-color: white !important;
        border-radius: "0px 50px 50px 50px";
        border: 1px solid teal;
    }
}

.navbar {
    padding: 20px;
    transition: opacity 0.3s ease-in-out;
}
.navbar.hidden {
    opacity: 0;
  }